<mat-toolbar color="primary">
  <button mat-icon-button (click)="selectedRoom = undefined">
    <mat-icon>home</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <button mat-icon-button (click)="goTo('/')">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<div *ngIf="selectedRoom == undefined">
  <app-manager-home [rooms]="rooms" (openRoom)="openRoom($event)"></app-manager-home>
</div>
<div *ngIf="selectedRoom != undefined">
  <app-manager-room [inputRoom]="selectedRoom.id" ></app-manager-room>
</div>