<div class="nav">

  <div class="nav-left">
    <div class="nav-button">
      <mat-icon aria-hidden="false" aria-label="menu">menu</mat-icon>
    </div>
    <div class="nav-button">
      <mat-icon aria-hidden="false" aria-label="home">home</mat-icon>
    </div>
    <div class="nav-button">
      <mat-icon aria-hidden="false" aria-label="update">update</mat-icon>
    </div>
  </div>
  
  <div class="nav-right">
    <div class="nav-button">
      <mat-icon aria-hidden="false" aria-label="logout">logout</mat-icon>
    </div>
  </div>
</div>
<div class="manager-home">
  <div *ngFor="let room of rooms">
    <div class="manager-box">
      <div class="box-number">#{{room.id}}</div>
    </div>
  </div>
</div>