<div class="room-box">
  <div class="room-row-header">
    <div class="room-number">#{{room.id}}</div>
    <div class="room-token-box">
      <div class="room-token"><input type="text" [(ngModel)]="token"></div>
      <button *ngIf="!room.openRoom" mat-mini-fab color="primary" (click)="generateRandomToken()">
        <mat-icon>generating_tokens</mat-icon>
      </button>
      <button *ngIf="room.openRoom" mat-mini-fab disabled>
        <mat-icon>generating_tokens</mat-icon>
      </button>
    </div>
  </div>

  <div class="room-row">
    <div class="room-header">
      <div class="room-label">Capacidad</div>
      <div class="line"></div>
      <div class="room-data">
        <input class="capacity-data" type="text" [(ngModel)]="capacity" readonly>
        <div class="room-label">MB</div>
      </div>
    </div>
    <div class="capacity-buttons">
      <div class="grid-buttons" *ngFor="let capacity of CAPACITY_AVAILABLES">
        <button *ngIf="!room.openRoom && capacity.enable " mat-raised-button color="primary"
          (click)="setCapacity(capacity)">{{capacity.value}}</button>
        <button *ngIf="room.openRoom || !capacity.enable" mat-raised-button disabled>{{capacity.value}}</button>
      </div>

    </div>
  </div>

  <div class="room-row">
    <div class="room-header">
      <div class="room-label">Apagar dentro de</div>
      <div class="line"></div>
      <div class="room-data">
        <input class="time-days" type="text" [(ngModel)]="days" placeholder="Días" readonly>
        <input class="time-hours" type="text" [(ngModel)]="time" placeholder="hh:mm" readonly>
      </div>
    </div>
    <div class="time-buttons">
      <div class="grid-buttons" *ngFor="let time of TIME_AVAILABLES">
        <button *ngIf="!room.openRoom" mat-raised-button color="primary" (click)="setTime(time)">{{time}}</button>
        <button *ngIf="room.openRoom" mat-raised-button disabled>{{time}}</button>
      </div>
      <div class="grid-buttons" *ngFor="let day of DAY_AVAILABLES">
        <button *ngIf="!room.openRoom" mat-raised-button color="primary" (click)="setDay(day)">{{day}}d</button>
        <button *ngIf="room.openRoom" mat-raised-button disabled>{{day}}d</button>
      </div>
    </div>
  </div>

  <div class="room-row">
    <div class="status-header">
      <div class="room-label">Estado de la sala</div>
      <div class="line"></div>
    </div>
    <div class="content-status">
      <div class="status-info">
        <div class="status-info-label">
          <div>Inicio de la sala</div>
          <div>{{dateOn}}</div>
        </div>
        <div class="status-info-label">
          <div>Apagado programado para</div>
          <div>{{dateOff}}</div>
        </div>
        <div class="status-info-label">
          <div>Memoria ocupada</div>
          <div>-</div>
        </div>
      </div>
      <div *ngIf="room.openRoom" class="status-button button-green" (click)="changeStatus()">ON</div>
      <div *ngIf="!room.openRoom" class="status-button button-red" (click)="changeStatus()">OFF
      </div>
    </div>
  </div>
</div>