<div class="room-box">
  <div class="room-header">
    <div class="room-number">#{{room.id}}</div>
    <div class="room-token-box">
      <div class="room-token"><input type="text" [(ngModel)]="token"></div>
      <div class="room-generator">
        <mat-icon aria-hidden="false" aria-label="generating_tokens">generating_tokens</mat-icon>
      </div>
    </div>
  </div>

  <div class="room-capacity">
    <div class="capacity-header">
      <div class="room-label">Capacidad</div>
      <div class="line"></div>
      <div class="room-size"><input type="text" [(ngModel)]="capacity" readonly></div>
      <div class="room-label">B</div>
    </div>
    <div class="capacity-buttons">
      <div class="capacity-button" (click)="setCapacity(128)">128 MB</div>
      <div class="capacity-button" (click)="setCapacity(256)">256 MB</div>
      <div class="capacity-button" (click)="setCapacity(384)">384 MB</div>
      <div class="capacity-button" (click)="setCapacity(512)">512 MB</div>
    </div>
    <div class="capacity-buttons">
      <div class="capacity-button" (click)="setCapacity(640)">640 MB</div>
      <div class="capacity-button" (click)="setCapacity(768)">768 MB</div>
      <div class="capacity-button" (click)="setCapacity(896)">896 MB</div>
      <div class="capacity-button" (click)="setCapacity(1024)">1024 MB</div>
    </div>
  </div>

  <div class="room-time">
    <div class="time-header">
      <div class="time-label">Apagar dentro de</div>
      <div class="line"></div>
      <div class="time-days">
        <input type="number" [(ngModel)]="days" placeholder="Días">
      </div>
      <div class="time-hours">
        <input type="text" [(ngModel)]="time" placeholder="hh:mm">
      </div>
    </div>
  </div>

  <div class="room-status">
    <div class="status-button" (click)="changeStatus()" >{{ room.openRoom ? 'ON' : 'OFF' }}</div>
  </div>
</div>