$color-1: #BD83CE;
$color-2: #E5B0EA;
$color-3: #F1C6E7;
$color-4: #F7E8F6;
$color-white: #fff;
$color-black: #000;

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 20px);
  background-color: $color-2;
  height: 50px;
  padding: 10px;
}

.nav mat-icon {
  font-size: 25px;
}

.nav-left {
  display: flex;
  flex-direction: row;
}

.nav-left .nav-button {
  margin-right: 5px;
  font-size: 25px;
}

.nav-right .nav-button {
  font-size: 25px;
}

.nav-button {
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  border-radius: 50%;
}

.nav-button:hover {
  background-color: $color-1;
  cursor: pointer;
}

.manager-home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: $color-white;
}

.manager-box {
  position: relative;
  background-color: $color-4;
  width: 220px;
  height: 220px;
  margin: 20px;
  padding: 20px;
}

.box-number {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: $color-2;
  font-size: 50px;
}