<div class="nav">
  <div class="nav-left"></div>
  <div class="nav-right">
    <div class="nav-button" (click)="goTo('/')">
      <mat-icon aria-hidden="false" aria-label="logout">logout</mat-icon>
    </div>
  </div>
</div>
<div class="room-content">
  <div class="img-box" *ngFor="let file of files">
    <div class="img-delete" (click)="deleteFile(file)">
      <mat-icon aria-hidden="false" aria-label="delete">delete</mat-icon>    
    </div>
    <img [src]="file.path" (error)="errorLoadingImg($event)">
  </div>
</div>

<label for="input" class="add-button">
  <mat-icon aria-hidden="false" aria-label="add">add</mat-icon>
</label>

<input (change)="uploadFile($event.target.files[0])" type="file" id="input" name="input" style="display:none;">