<mat-toolbar color="primary">
  <span>{{room.token}}</span>
  <span class="example-spacer"></span>
  <button mat-icon-button (click)="goTo('/')">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<div class="size-info">
  <div class="size-progress">
    <mat-progress-bar mode="determinate" [value]="room.busy_perc"></mat-progress-bar>
  </div>
  <div class="size-label">{{room.busy}}B</div>
  <div class="size-label">/</div>
  <div class="size-label">{{room.capacity}}B</div>
</div>

<div class="room-content">
  <div class="img-box" *ngFor="let file of files">
    <div *ngIf="file.perc == undefined" class="img-button img-button-delete" (click)="deleteFile(file)">
      <mat-icon aria-hidden="false" aria-label="delete">delete</mat-icon>
    </div>
    <div *ngIf="file.perc == undefined" class="img-button img-button-download" (click)="downloadFile(file)">
      <mat-icon aria-hidden="false" aria-label="download">download</mat-icon>
    </div>
    <div class="img-prev" [ngClass]="{ 'img-prev-open' : file.open != undefined }" (click)="closeFile(file)">
      <img class="img-main" [ngClass]="{ 'img-main-open' : file.open != undefined }" [src]="file.path"
        (error)="errorLoadingImg($event)" (click)="openFile(file)">
    </div>
    <div *ngIf="file.perc != undefined" class="img-progress">
      <div class="img-prog-bar">
        <div class="img-prog-fill" [style.width.%]="file.perc"></div>
        <div class="img-prog-label">
          <div class="img-prog-label-static">Subiendo...</div>
          <div class="img-prog-label-prog">{{file.perc}}%</div>
        </div>
      </div>
      <div class="img-prog-bar">
        <div class="img-prog-fill" [style.width.%]="file.proc"></div>
        <div class="img-prog-label">
          <div class="img-prog-label-static">Procesando...</div>
          <div class="img-prog-label-prog">{{file.proc}}%</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--label for="input" class="add-button">
  <mat-icon aria-hidden="false" aria-label="add">add</mat-icon>
</label-->
<!--label for="input" class="add-button">
  <button mat-mini-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>
</label-->

<button mat-mini-fab color="primary" class="add-button">
  <label for="input">
    <mat-icon>add</mat-icon>
  </label>
</button>

<input (change)="uploadFile($event.target.files[0])" type="file" id="input" name="input" style="display:none;">